//#########################
//###Pipeline Parameters###
//#########################

//starting parameters
params.reference = ""
params.blindComp = ""
params.ptSample = ""
params.bam_files = ""
params.title = "Almond Analysis"
params.outdir = "almond_results"


//PreProcessing
params.name_split_on=""


//#####################
//####Docker Params####
//#####################

docker.enabled = true
docker.runOptions = "-u \$(id -u):\$(id -g)"

//####################
//#Singularity Params#
//####################
//singularity.enabled = true
//singularity.runOptions = ""
//process.stageInMode = "copy"

//####################
//##AWS Batch Params##
//####################
//process.executor = 'awsbatch'
//process.queue = ''
//aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
//aws.region = 'us-east-1'
//workDir = 's3://'

//#######################
//##Google Cloud Params##
//#######################
//process.executor = ''
//google.project = ''
//google.location = ''
//google.region = ''
//workDir = ''
//google.lifeSciences.bootDiskSize = 50.GB

//##################
//##Nextflow Tower##
//##################
//tower.accessToken = ''
//tower.enabled = true

//#######################
//###Docker Containers###
//#######################

alignment_container = 'staphb/mafft:7.475'
pangolin_container = 'staphb/pangolin:3.1.17-pangolearn-2022-01-05'
render_container = 'berrywood-report-env'
snp_sites_container = 'staphb/snp-sites:2.5.1'
ampliconstats_container = 'staphb/samtools:1.14'

process {
  errorStrategy = 'retry'
  maxRetries = 1
  cpus = 8
  memory = '31 GB'

  withName:alignment{
    container = alignment_container
  }
  withName:pangolin{
    container = pangolin_container
  }
  withName:snp_sites{
   container = snp_sites_container
  }
  withName:render{
  container = render_container
  }
  withName:ampliconstats{
  container = ampliconstats_container
  }
}
